
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: #000;
}

.App {
  width: 100%;
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  
}

.bg-layer {
  position: absolute;
  top: -14%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2; 
}

.bg-layer img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 
.andy-img {
  width: auto;
  height: auto;
  display: block;
} */

.text-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.text-content h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
  

.grid-section {
  display: flex; 
  justify-content: center; 
  gap: -1%; 
  padding: 2%; 
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
 
}


.grid-item1 {
  position: relative;
  width: 20%;
  height: 60%;
  margin: 2%;
  /* margin-left: 5%; */
  overflow: hidden;
  /* border-radius: 10px; */
  transition: transform 0.3s;
}

.grid-item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 0.3s; */
}
.grid-item {
  position: relative;
  width: 20%;
  height: 60%;
  margin-top: 10%;
  overflow: hidden;
  /* margin-right: 2%; */
  
  /* border-radius: 10px; */
  transition: transform 0.3s;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 0.3s; */
}
/* .grid-item:hover img {
  transform: scale(1.15);
} */

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .grid-overlay {
  opacity: 1;
}
.grid-item1:hover .grid-overlay {
  opacity: 1;
}

.grid-overlay h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-overlay p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.bigpic {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: #000;
}

.bigpic img {
  width: 100%;
  height: 90%;
  object-fit: cover;
} 

.bigpic p {
  font-size: 1rem;
  letter-spacing: 1px;
  color:rgb(255, 255, 255);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.multiplepic{

}