* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: #000;

  /* background: linear-gradient(
    to top,
    black 0%,
   rgba(0, 0, 0.738) 19%,
   rgba(0, 0, 0.541) 34%,
   rgba(0, 0, 0.382) 47%,
   rgba(0, 0, 0.278) 56.5%,
   rgba(0, 0, 0.194) 65%,
   rgba(0, 0, 0.126) 73%,

    rgba(0, 0, 0.075) 80%,
    rgba(0, 0, 0.042) 86%,
    rgba(0, 0, 0.021) 91%,
    rgba(0, 0, 0.08) 95%,
    rgba(0, 0, 0.002) 98%,
    transparent 100%

  );
   */
}

::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100%;
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.bg-layer {
  position: absolute;
  top: -14%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.bg-layer img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.text-content h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.nkr {
  width: 100%;
  bottom: 0;
  height: 50vh;
  z-index: 2;
  float: left;
  position: absolute;
  z-index: 5;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.grid-section {
  display: flex;
  justify-content: center;
  gap: -1%;
  padding: 2%;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  z-index: -4;

}

.grid-item1 {
  position: relative;
  width: 20%;
  height: 60%;
  margin: 2%;
  overflow: hidden;
  transition: transform 0.3s;

}

.grid-item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.grid-item {
  position: relative;
  width: 19%;
  height: 60%;
  margin-top: 6%;
  overflow: hidden;
  transition: transform 0.3s;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
  opacity: 1;
}

.grid-item,
.grid-item1 {
  background: linear-gradient(to top,
      black 0%,
      rgba(0, 0, 0, 0.738) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%,
      rgba(0, 0, 0, 0.194) 65%,
      rgba(0, 0, 0, 0.126) 73%,
      rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%,
      transparent 100%);


  opacity: 1;
}


.grid-overlay {
  pointer-events: none;
}

.grid-overlay img,
.grid-overlay h3,
.grid-overlay p {
  pointer-events: auto;
  /* scale:  1.1; */
}


.grid-overlay h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-overlay p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.bigpic {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: #000;
  z-index: 1;
}

.grid-icon img,
svg {
  height: auto;
  /* width:  auto; */
}


.bigpic img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: 1;
}

.btf {
  width: 100%;
  top: 34%;
  height: 60%;
  float: left;
  position: absolute;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
  z-index: 2;
}


.bigpic p {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
} 

.circle {
  width: 150px;
  height: 150px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  bottom: 8%;
  right: 28%;
  z-index: 7;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  align-items: center;
  padding: 10px;
  line-height: 1.25;
  font-size: 12px; 
  font-family: Arial, sans-serif; 
  font-weight: normal; 
  color: #fff;
   white-space: nowrap; 
  text-transform: capitalize;
  rotate: 20deg;
  transform: rotate(90deg);
}


.portfolio-grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 20px;
  /* padding: 20px;  */
  position: absolute;
  width: 100%;
  max-width: 1200px;
  margin-top: 25%;
  /* align-items: center; */
}

.item {
  position: absolute;
  overflow: hidden;
  transform-origin: center;
}

/* .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
} */


.item-1 {
  position: absolute;
  z-index: 3;
  margin-left: 62%;
  border-radius: 10px;
  /* object-fit: cover; */

}


.item-2 {
  transform: rotate(-10deg) translateY(50px);
  position: absolute;
  margin-left: 45%;
  /* margin-bottom: 55%; */
  margin-top: -5%;
  /* overflow: hidden; */
  z-index: 2;
}


.item-3 {
  transform: rotate(-5deg) translateY(-30px);
  z-index: 1;
  position: absolute;
}

.item-4 {
  transform: rotate(8deg) translateY(40px);
  position: absolute;
  z-index: 6;
  margin-left: 55%;
  margin-top: -8%;
}

.item-5 {
  position: absolute;
  transform: rotate(2deg) translate3d(-60px, 135px, 0);
  /* transform: rotate(180deg); */
  z-index: -1;
  margin-left: 25%;
  margin-top: -25%;
}

.item-5 img {
  width: 60%;
  height: auto;
  display: block;
  object-fit: cover;
}

.item-6 {
  position: absolute;
  transform: rotate(6deg) translate3d(-130px, -100px, 0);
  z-index: -1;
  margin-left: 75%;
  margin-top: 15%;
}

.item-6 img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.item-1 img {
  width: 70%;
  height: auto;
  display: block;
  object-fit: cover;
  transform: translate(0, -85%) rotate(10deg);
}

.item-1 img:hover {
  transform: translate(10%, -89%) rotate(15deg);
  transition: all 0.4s ease;


}

.item-2 img {
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  transform: translate(0, -84%) rotate(5deg);

}

.item-2 img:hover {
  transform: translate(-19%, -89%) rotate(-5deg);
  transition: all 0.4s ease;

}

.item-3 img {
  width: 55%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-left: 58%;
}

.item-3 img:hover {
  transform: translate(-12%, 5%) rotate(15deg);
  transition: all 0.4s ease;

}

.item-4 img {
  width: 55%;
  height: auto;
  display: block;
  object-fit: cover;
  /* margin-left: 100%; */
}

.item-4 img:hover {
  transform: translate(-12%, 5%) rotate(15deg);
  transition: all 0.4s ease;
}

/* 
.portfolio.fade-in .single-image {
  transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
  transition-delay: .5s;
} */

