
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.App {
  width: 100%;
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  
}

.bg-layer {
  position: absolute;
  top: -14%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2; 
}

.bg-layer img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 
.andy-img {
  width: auto;
  height: auto;
  display: block;
} */

.text-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.text-content h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
  

.grid-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #000;
}

.grid-item {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  /* border-radius: 10px; */
  transition: transform 0.3s;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.grid-item:hover img {
  transform: scale(1.15);
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .grid-overlay {
  opacity: 1;
}

.grid-overlay h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-overlay p {
  font-size: 1rem;
  letter-spacing: 1px;
}
