.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    position: fixed;
    z-index: 10;
        /* background: linear-gradient(
            to bottom,
            black 0%,
            rgba(0, 0, 0, 0.738) 19%,
            rgba(0, 0, 0, 0.541) 34%,
            rgba(0, 0, 0, 0.382) 47%,
            rgba(0, 0, 0, 0.278) 56.5%,
            rgba(0, 0, 0, 0.194) 65%,
            rgba(0, 0, 0, 0.126) 73%,
            rgba(0, 0, 0, 0.075) 80.2%,
            rgba(0, 0, 0, 0.042) 86.1%,
            rgba(0, 0, 0, 0.021) 91%,
            rgba(0, 0, 0, 0.008) 95.2%,
            rgba(0, 0, 0, 0.002) 98.2%,
            transparent 100%
        );
        */
}

.logo {
    /* margin: 0; */
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 8px;
    margin-left: 50px;
}

.menu-icon {
    font-size: 1.9rem;
    cursor: pointer;
    /* margin: 15px; */
    background-color: rgb(255, 255, 255);
    padding:12px 18px;
    border-radius: 100%;
    color: black;
}

.menu-icon:hover {
    scale: 1;
    transition: all 0.4s ease-in-out;
    background: rgb(54, 53, 55);
    color: white;
}


.get-in-touch-btn {
    background: white;
    color: black;
    border: blueviolet; 
    padding: 15px 31px;
    border-radius: 85px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
}
.get-in-touch-btn:hover {
    scale: 1;
    transition: all 0.4s ease-in-out;
    background: rgb(54, 53, 55);
    color: white;
}
